body{
    background-image: url(https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148695092.jpg);
 }
 
 .login-form{
     background-color: #FEFBE9;
     width: 600px;
     height: 750px;
     border-radius: 24px;
     padding: 20px;
 }
 
 .login-form h1{
     font-size: 30px;
     margin-bottom: 20px;
     margin-top: 20px;
 }
 
 .login-form form{
     font-size: 15px;
 
 }
 
 .login-form form .form-group{
     margin-bottom: 15px;
 }
 
 button{
     padding-bottom: 150px;
 }
 
 .btn-warning{
     margin: 10px 0;
 }
 p{
     margin-top: 10px;
 }