@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
/* Gloock */



body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background: #FEFBE9;
}

.bg {
    background-color: #183A1D;
}

nav{
    width: 100%;
}

.navbar-brand{
    color: #F0A04B;
}

.navbar-brand:hover{
    color: #E1EEDD;
}

button.navbar-toggler{
    color: #F0A04B;
}

p{
    margin-bottom: 0;
    margin-right: 50px;
}
/* 
.navbar-item{
   
    cursor: pointer;
    border-style: solid;
    padding: 0 18px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    
} */

/* .navbar-item:hover{
    border-style: solid;
    padding: 0 18px;
    border-color: #FEFBE9;
    border-radius: 10px;
   
    
} */

#user-icon,#cart-icon{
    color: #F0A04B;
}



.IC{
    padding: 0px 8px;
}

a.nav-link{
   text-align: center;
}

i.fas{
    margin: 10px;
}


section#promotion{
    padding: 100px 0px 100px 0;
}


.carousel-inner{
    border-radius: 50px;
}

.promotext{
    font-family: 'Gloock';
    
}

.promotext h1{
    font-size: 70px;
     margin-bottom: 50px;
}
.promotext span{
    color: #F0A04B;
}

.check-btn{
    min-width: 120px;
    min-height: 58px;
    background: #183A1D;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #F0A04B;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none !important;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 6px 30px;
    text-decoration: none
}

.check-btn:hover {
    color: #FEFBE9;
}

section#about{
     padding: 100px 0px 100px 0;
     background-color: #183A1D;
}



video{
    border-radius: 150px;
     padding-top: 20px; 
     padding-bottom: 30px;
   
    
    
}


.text-about{
    text-align: center;
    color: #FEFBE9;
    
}

.lorem-about{
    margin-left: 50px;
}



button.nav-link{
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    padding: 0 18px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
   
}

button.nav-link:hover{
    border-style: solid;
    padding: 0 18px;
    border-color: #FEFBE9;
    border-radius: 10px;
    
}

#dashboard-menu .container{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

div.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.header h1{
    font-size: 40px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
}

ul.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    align-items: center;

}

ul.menu li.button{
    background-color: wheat;
    margin: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

ul.menu li.button.active{
    background: #183A1D;
}

ul.menu li.button.active a{
    color: white;
}

ul.menu li.button a{
    color: #183A1D;
    padding: 5px 20px;
    display: inline-block;
    transition: 0.3s;
}

ul.menu li.button a:hover{
    color: white;
}

ul.menu li.button:hover{
    background-color: #183A1D;
}

/* food */
.card-product-box{
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 20px;
    margin: 10px 20px;
    position: relative;
}

.card::before{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    content: "";
}

.card:hover:before{
    background-color: grey;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-desc{
    padding: 12px;
}

.text-desc h3{
    color: black;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.text-desc h4{
    color: grey;
    font-weight: 200;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.btn{
    position: absolute;
    width: 100%;
    height: 0px;
    bottom: 0px;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    font-size: 10px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0px;
    font-weight: 700;
}

.card:hover .btn{
    font-size: 1.5rem;
    height: 90px;
}

@media screen and (max-width: 540px) {
    .card{
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        margin: 10px 20px;
        position: relative;
    }
    
}