body{
    background-color: #4DB178;
   
   
}

.login-form{
    background-color: #FEFBE9;
    width: 600px;
    height: 500px;
    border-radius: 24px;
    padding: 20px;
}

.login-form h1{
    font-size: 36px;
    margin-bottom: 25px;
}

.login-form form{
    font-size: 20px;

}

.login-form form .form-group{
    margin-bottom: 20px;
}

button{
    padding-bottom: 200px;
}

.btn-warning{
    margin: 10px 0;
}
p{
    margin-top: 10px;
}

