@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
/* Gloock */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* Popins */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
  background-color: #FEFBE9 !important;
 
}

* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  background-color: #FEFBE9;
  
  margin-top: 150px;
  margin-bottom: 150px;
}

thread .bg-success{
  background-color: #183A1D
  c;
}

.btn {
  font-size: 1.2rem;
  border-color: #183A1D !important;
}
.dropdown-toggle{
  color: #F0A04B !important;
}

.btn-outline-success:hover {
  background-color: #183A1D !important;
  color: #F0A04B !important;
}

.modal-content {
    border: solid 5px #183A1D !important;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (max-width: 444.98px) {
  .cart-top {
    margin-bottom: 1rem !important;
  }
}

@media (max-width: 767.98px) {
  .item {
    row-gap: 1rem;
  }
}


th{
  background-color: #183A1D !important;
  color: #F0A04B ;
  font-weight: bold;
}

